/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 10;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Utility classes */
  .text-center {
    text-align: center;
  }
  
  .mt-20 {
    margin-top: 60px;
  }
  
  /* Add more global styles and utility classes as needed */
  