/* overview-style.css */
.parent-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.filter-dropdown {
  display: flex;
  justify-content: flex-end; /* Align to the right */
  width: 100%;
  margin-bottom: 20px; /* Add spacing below filter dropdown */
}

.filter-dropdown select {
  font-size: 16px;
  padding: 10px 20px;
  border: 1px solid var(--primary-color); /* Primary color border */
  background-color: var(--background-light); /* White background */
  color: var(--text-primary);
  border-radius: 0; /* Non-rounded corners */
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
}

.activities {
  inline-size: 100%;
}

.activity-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .activity-cards {
      grid-template-columns: repeat(2, 1fr); /* Two cards side by side */
  }
}

@media (min-width: 1200px) {
  .activity-cards {
      grid-template-columns: repeat(3, 1fr); /* Three cards side by side */
  }
}

.activity-card {
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--hover-color);
  cursor: pointer;
  transition: box-shadow 0.3s, transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activity-card:hover {
  box-shadow: 0 4px 12px var(--hover-dark);
  transform: translateY(-5px);
}

.card-content {
  padding: 16px;
  flex-grow: 1;
}

.book-activity-button, .book-modal-button {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: var(--button-active-bg);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  align-self: flex-end;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  overflow: auto;
  background-color: var(--modal-background);
}

.modal-content {
  background-color: var(--modal-content-bg);
  padding: 20px;
  border-radius: 8px;
  inline-size: 90%;
  max-inline-size: 600px;
}

.close {
  color: #aaa;
  float: inline-end;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.select-style {
  inline-size: 100%;
  padding: 10px;
  border-radius: 8px;
  margin-block-end: 20px;
}

.add-activity-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 50px;
  background-color: var(--primary-color);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

.add-activity-button:hover {
  background-color: var(--primary-color-dark); /* Add a darker primary color for hover state */
  transform: scale(1.05);
}
